:root{
    /* Chat */
    /* (sub-heading at the top of the app UI) */
    --color-Pale-violet:hsl(276, 100%, 81%);
    /* (chat on the left) */    
    --color-Moderate-violet:hsl(276, 55%, 52%);
    /* (chat on the right) */
    --color-Desaturated-dark-violet:hsl(271, 15%, 43%);
    /*  (placeholder text)*/
    --color-Grayish-blue: hsl(206, 6%, 79%);
    /*  (main heading)*/
    --color-Very-dark-desaturated-violter: hsl(271, 36%, 24%);
    /* (paragraph) */
    --color-Dark-grayish-violet:hsl(270, 7%, 64%);

    /* Gradients */
    --gradient-Light-magenta:hsl(293, 100%, 63%);
    --gradient-Light-violet:hsl(264, 100%, 61%);   

    /* Secondary */
    /* White */
    --secondary-White:hsl(0, 0%, 100%);
    /*  (app background)*/
    --secondary-Light-grayish-violet: hsl(270, 20%, 96%);
    /* (submit button background) */
    --secondary-Very-dark-desaturated-violet:hsl(271, 36%, 24%);
    /*  (radio button outline)*/
    --secondary-Very-light-magenta:hsl(289, 100%, 72%);
}
*{
    font-family: 'Rubik', sans-serif;
}
body{
    margin: 0;
    background-color: var(--secondary-Light-grayish-violet);
}
.container__chat{        
    width: calc(100vw - (100vw - 100%));    
}
.paper__chat{
    top: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(45deg, var(--color-Moderate-violet) 5%, var(--color-Moderate-violet) 10% , var(--color-Pale-violet) 100%);
    height: 100%;
    width: 50%;            
    border-bottom-right-radius: 100%;    
}
.content__chat{    
    margin-top: 3rem;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-White);
    border: 1px solid blue;
    width: 90%;
    height: 70%;
}
.header__chat{
    position: relative;    
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-top: 1rem;
    background:  linear-gradient(to right, var(--gradient-Light-violet) 0%, var(--gradient-Light-magenta) 100%);
    box-sizing: border-box;
    width: 90%;        
}
.header__chat::before{
    content: "";
    position: relative;
    top: -1px;
    display: block;
    /* z-index: 10; */
    margin: auto;
    box-sizing: border-box;
    width: 55%;
    height: 1.2rem;      
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    background-color:  var(--secondary-White);
}
.header__content{
    display: flex;
    justify-content: space-around;
    margin: 1rem .5rem;
    gap: 4rem;
}
.info__header{
    display: flex;
    gap: .2rem;
    margin: inherit;
}
.arrow{
    margin-top: auto;    
    margin-bottom: auto;
    transform: rotate(45deg);
    border-left:  .2rem solid var(--secondary-White);
    border-bottom: .2rem solid var(--secondary-White);
    border-bottom-left-radius: .35rem;
    border-top-left-radius: .2rem;
    border-bottom-right-radius: .2rem;    
    width: .6rem;
    height: .6rem;    
}
.img{
    box-sizing: border-box;
}
.h4{
    font-weight: 400;
    color: var(--secondary-White);
}
.photo_header{    
    display: block;
    margin: auto;
    object-fit: contain;    
    height:  2rem;
    border-radius: 100%;
    border: .15rem solid var(--secondary-White);
}
.text__header{
margin: auto;
}
.h4.header{
    margin: .2rem auto;
}
.p.header{
    font-size: .7rem;
    color:  rgba(255, 255, 255, 0.5);;
    margin: .2rem auto;
}
.menu__points{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    border-radius: 100%;
    width: .31rem;
    height: .31rem;
}
.menu__points::before{
    display: block;
    position: relative;
    content: ""; 
    top: -.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    width: .31rem;
    height: .31rem;   
}
.menu__points::after{
    display: block;
    position: relative;
    content: ""; 
    bottom: -.2rem;    
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    width: .31rem;
    height: .31rem;   
}
.body__chat{
    box-sizing: border-box;
    position: relative;
    margin-top: -1.5rem;
    padding: 1.5rem;    
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-Light-grayish-violet);
    height: auto;
    width: 90%;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.content__body{
    position: relative;
    /* width: 100%; */
    margin: auto -.6rem;    
}
.chat{
    position: relative;
    height: auto;
    width: fit-content;
    max-width: 57%;
    margin: .3rem;    
    word-wrap: break-word;    
}
.chat.user1{      
    margin-left: 0;          
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    border-bottom-left-radius: .2rem;
    color: var(--color-Moderate-violet);
    background-color: var(--color-Grayish-blue);
}
.chat.user2{      
    color: var(--color-Desaturated-dark-violet);
    margin-left: auto;
    margin-right: 0px;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .6rem;
    background-color: var(--secondary-White);
}
.span_chat{
    display: block;    
    padding: .4rem;
    font-size: .5rem;
}
.chat >.chat__gallery   {
    background-color: var(--secondary-Light-grayish-violet);
}
.chat__gallery{    
    display: block;    
    direction: rtl;
}
.img.chat{
    object-fit: cover;
    box-sizing: border-box;    
    width: 2.2rem;
    border-radius: .6rem;    
}
.chat.super{
    display: flex;        
    padding: .6rem;        
    gap: 2rem;
    background:  linear-gradient(to left, var(--gradient-Light-violet) 0%, var(--gradient-Light-magenta) 100%);
    color: var(--secondary-White);
}
.check_input{
    width: 1.15em;
    height:1.15em;    
    margin-top: 0;
    border-radius: 50%;
    vertical-align: middle;
    border: .05rem solid #ddd;
    -webkit-appearance: none;    
    outline: none;
    
    cursor: pointer;
}
.check_input:checked {
    vertical-align: middle;
    background-color: white;
}
.label-super{
    width: auto;
    text-justify: auto;
    
    vertical-align: middle;
    font-size: .5rem;    
}
.p_price{
    margin-right: .5rem;
    vertical-align: middle;
    font-weight: 600;
}
.text__input{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;    
    padding: .5rem;
    background-color: var(--secondary-White);
    border-bottom-left-radius: 2rem ;
    border-bottom-right-radius: 2rem ;
    border-top-left-radius: 2rem ;
    border-top-right-radius: 2rem ;
    width: 95%;
    height: auto;
}
.input__text{    
    outline: none;
    margin-left: .5rem;
    border: none;
    color: var(--color-Grayish-blue);
}